<!-- /snippets/theme-header.liquid -->
<div class="header-wrap width-100" data-header-wrap>
  <div class="header hide-for-large" data-header data-header-base>
    <div class="header-container">
      {%- if template contains 'product' -%}
        {%- include 'theme-header-mobile-product' -%}
      {%- elsif template contains 'article' -%}
        {%- include 'theme-header-mobile-article' -%}
      {%- else -%}
        {%- include 'theme-header-mobile' -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- if section.settings.welcome_message -%}
  <div class="desktop-header-message text-left show-for-large" id="header_message">
    <div class="grid-container">
      <div class="header-message-inner">
        <div class="text">{{ section.settings.welcome_message }}</div>
        <div class="top-nav-currency">
          <div class="top-nav-currency-title show-for-large">{{ 'layout.navigation.currency' | t }}:</div>
          <select class="top-nav-currency-dropdown margin-0" data-currency>
            {%- capture codes -%}
              ,USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,
            {%- endcapture -%}
            {%- assign supported_codes = settings.supported_currencies | split: ' ' -%}
            <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
            {%- for code in supported_codes -%}
              {%- if code != shop.currency and codes contains code -%}
                <option value="{{ code }}">{{ code }}</option>
              {%- endif -%}
            {%- endfor -%}
          </select> 
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<div class="desktop-header show-for-large" {% if section.settings.header_sticky %}data-sticky='{"stickTo": "body", "stickyClass": "sticky", "responsive": {"800": {"disable": true}}}'{% endif %}>
  <div class="grid-container">
    <div class="desktop-header-content">
      <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-4 large-4 xlarge-4 xxlarge-4 xxxlarge-4">
          <div class="desktop-header-logo flex-container align-center">
            {%- capture logo -%}
              {%- if section.settings.logo -%}
                {%- assign img_url = section.settings.logo | img_url: 'master' -%}
                {%- assign logo_alt = section.settings.logo.alt | default: shop.name -%}
                <a href="/" itemprop="url">
                  <img src="{{ img_url }}" alt="{{ logo_alt }}" />
                </a>
              {%- else -%}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {%- endif -%}
            {%- endcapture -%}
            {%- if template.name == 'index' -%}
              <h1 itemscope itemtype="http://schema.org/Organization" class="margin-0">
                VARGASHVAC
                {% comment %} {{ logo }} {% endcomment %}
              </h1>
            {%- else -%}
              <div itemscope itemtype="http://schema.org/Organization">
                {{ logo }}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="cell small-4 medium-4 large-4 xlarge-4 xxlarge-4 xxxlarge-4">
          <div class="flex-container width-100">
            <div>
              {%- if section.settings.link_list != empty and linklists[section.settings.link_list] != empty -%}
                {%- include 'theme-header-menu', config: section.settings, blocks: section.blocks, menu: linklists[section.settings.link_list] -%}
              {%- endif -%}
            </div>
          </div>
        </div>    
        <div class="cell small-4 medium-4 large-4 xlarge-4 xxlarge-4 xxxlarge-4">
          <div class="flex-container align-right">
            <div class="desktop-header-user-nav desktop-header-search">
              <a class="icon-search display-block" data-toggle="search-box-desktop"><em class="sli sli-magnifier"></em></a>
            </div>
            <div class="desktop-header-user-nav desktop-header-account dropdown menu">
              <a class="icon-account display-block" data-toggle="account-box-desktop"><em class="sli sli-user"></em></a>              
              <div class="dropdown-pane" id="account-box-desktop" data-dropdown data-hover="true" data-hover-pane="true">
                {% if customer %}                    
                <li class="logged-in">
                  <h2 class="account-logged-title text-center">{{ 'customer.account.welcome' | t }} {{ customer.first_name }} {{ customer.last_name }}</h2>
                  <ul class="account-logged-category no-bullet text-center margin-0">
                    <li><a href="/account" class="account-logged-link">{{ 'customer.orders.title' | t }}</a></li>
                    <li><a href="/account/addresses" class="account-logged-link">{{ 'customer.addresses.title' | t }}</a></li>                    
                    <li><a href="/account/logout" class="account-logged-link">{{ 'layout.customer.log_out' | t }}</a></li>
                  </ul>
                </li>                    
                {% else %}
                <li class="not-login">
                  <div class="account-login">
                    {%- form 'customer_login', id:'customer_login_box' -%}
                    {%- if form.errors -%}
                    <div class="callout alert">
                      {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}
                    <input type="email" name="customer[email]" class="account-field {% if form.errors contains 'email' %} input-error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocapitalize="off" autocomplete="email">
                    {%- if form.password_needed -%}
                    <input type="password" value="" name="customer[password]" class="account-field {% if form.errors contains 'password' %}  input-error{% endif %}" placeholder="{{ 'customer.login.password' | t }}" autocomplete="current-password"/>
                    {%- endif -%}
                    {%- if form.password_needed -%}
                    <div class="flex-container align-center">
                      <a href="/account/login#recover" class="account-login-recover">{{ 'customer.login.forgot_password' | t }}</a>
                    </div>
                    {%- endif -%}
                    <button type="submit" class="button primary radius account-login-submit">{{ 'customer.login.sign_in' | t }}</button>
                    <div class="text-center margin-bottom-1">
                      <div>{{ 'layout.customer.create_account_title' | t }}</div>
                      <a class="account-login-register" href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
                    </div>
                    {%- endform -%}
                  </div>
                </li>
                {% endif %}
              </div>
            </div>
            <div class="desktop-header-user-nav desktop-header-compare" data-compare-link-block>
              <a href="/pages/compare" class="display-block">
                <em class="sli sli-refresh">
                  <span class="header-counter-pill" data-compare-count></span>
                </em>
              </a>
            </div>
            <div class="desktop-header-user-nav desktop-header-wishlist" data-wishlist-link-block>
              <a href="/pages/wish-list" class="display-block">
                <em class="sli sli-heart">
                  <span class="header-counter-pill" data-wishlist-count></span>
                </em>
              </a>
            </div>
            <div class="desktop-header-user-nav desktop-header-mini-cart mini-cart">
              <a class="display-block" data-toggle="mini-cart-desktop-info">
                <em class="mini-cart-icon sli sli-handbag">
                  <span class="header-counter-pill mini-cart-total" data-cart-total>{{ cart.item_count }}</span>
                </em>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>